
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}


/* Menú desplegable */

.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin-left: 650px;
}

/* Responsive */
@media (max-width: 480px) {
    .contenedor-header {
        position: fixed;
        width: 100%;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .hamburger {
        display: block;
        font-size: 28px;
        color: white;
    }

    .menu {
        flex-direction: column;
        background-color: #2C3A66;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 1rem;
        font-size: 1rem;
        border-radius: 0 0 8px 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        z-index: 98;
    }

    .menu.show {
        max-height: 500px;
        transition: max-height 0.5s ease-in;
    }

    .menu li {
        text-align: center;
        padding: 10px 0;
    }
}

